@model IEnumerable<WebApp.Models.Faculty>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_Name)
        </td>        
        <td>
            @Html.ActionLink("Select", "Edit", new { id=item.Id })
        </td>
    </tr>
}
</table>
 </div>
<div class="col-md-2"></div>
    </div>
