@model IEnumerable<WebApp.Models.scheduleModel>
@{
    ViewBag.Title = "Office Hours";
}
<div style="padding-bottom: 30px;">
    <h3>@{Html.RenderAction("status");}</h3>
</div>
<h3>Schedule</h3>

<table class="table col-5">
    @foreach (var item in Model)
    {

        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.EventDay)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.EventDate)
            </th>
            <th></th>
        </tr>
        foreach (var e in item.eventTimeList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => e.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => e.EventStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => e.EventEnd)
                </td>
            </tr>
        }
    }
</table>
