@model WebApp.Models.CaptureNoteModel

<div>
    <h4>CaptureNoteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapturedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapturedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoteLink)
        </dt>

        <dd>
            @Html.(model => model.NoteLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
