@model IEnumerable<WebApp.Models.StudentMessage>

@{
    ViewBag.Title = "getMyMessages";
}

<h2>getMyMessages</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.student_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Created)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Created)
            </td>


        </tr>
    }

</table>

